#hero-section{
    width: 100%;
    padding: 60px 100px;
    background: rgb(41, 40, 40);
    text-align: center;
    gap: 20px;
    align-items: center;
    position: relative;
}

.stand{
    color: #f39237;
}

#about-content{
    width: 100%;
    padding: 60px 100px;
    background: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ceo-content{
    display: flex;
    gap: 23px;
    background-color: #302f2e;
    padding: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px #f3923741;
    margin: 50px;
}

.ceo-img-div{
    background-color: antiquewhite;
    width: 40%;
    height: 40%;
    border-radius: 30px;
}

.ceo-img-div img{
    object-position: center;
    margin-left: 70px;
    padding: 30px 0px;
}

.ceo-content p{
    width:  30rem;
}

.ceo-content aside{
    align-self: flex-end;
}

.ceo-content aside h1{
    color: #f39237;
}

.ceo-content aside h2{
    font-size: 20px;
}

.best{
    padding: 50px 150px;
    align-self: center;
    background-color: #302f2e;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px #f3923741;
}

.best p{
    width: 46rem;
}

.vision p{
    margin-bottom: 10px;
}

.best h1{
    color: #f39237;
}

#contact-details{
    width: 100%;
    padding: 60px 100px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.contact-infos{
    padding: 80px 100px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contact-form{
    border: 1px solid white;
    border-radius: 2rem;
    padding: 50px 60px;
    background-color: #6b6b6a;
}

.contact-form .form-group{
    display: flex;
    flex-direction: column;
}

.sub-btn{
    margin-top: 20px;
    justify-self: center;
}

.sub-btn button{
    padding: 5px 10px;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

#name{
    padding: 10px 30px;
    border-radius: 2rem;
    background-color: transparent;
    color: white;
}

#message{
    border-radius: 2rem;
    background-color: transparent;
    padding: 10px 30px;
    color: white;

}

